
.modal-content{
    position: absolute;
    top:100px;
    height: 50vh;
    width: 70%;
}
#container1{
    position: absolute;
    top:20%;
    
    margin-left: 2%;
    background-color: rgba(49, 54, 83, 0.473);
    
    color:rgb(80, 51, 13);
}

.form-check-inline{
    position: absolute;
    top:15%;
    margin-left: 4%;
}
.container.col{
    background: red;
}
.container.col{
    width:100%;
}
#container2{
    position:absolute;
    left:2%;
    bottom: 10%;
    width: 100%;
    height: 15%;
    text-align: center;
    
}
#h{
    position: relative;
    top: 2px;
    color: red;
}
