
<div class="fluid-container">
  <div class="row" id="header"> 
    &nbsp;&nbsp;&nbsp;&nbsp;
    <img class="img-fluid" width="100px" src="/assets/images/BTA.png" height="60px" alt="BTA" >  
    <div class="col">
     <h3 class="heading">Bus Ticket agregator</h3>
     <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" >

    </div> 
    <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Login</button> -->
      <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Login</button> -->
      <i id="user_logo"class="fa fa-user-circle-o" style="font-size:24px"></i>
      <!-- <i class="fa fa-user-circle-o" style="font-size:48px;color:red"></i> -->
      <button id="btn_support" type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">SUPPORT</button>
      <div id="demo" class="collapse">
          Lorem ipsum dolor text....
      </div>
      <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">LOG IN/SIGN UP</button> -->
    </div>
  </div>
</div>